.Containter1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Containter2 {
    display: flex;
    flex-direction: column;
}


.item {
    display: flex;
    flex-direction: row;
}

.skillsWork {
    font-size: 11px;
    color: #707070;
    margin-left: 5px;
    padding-top: 12px;
}

.iconPosition {
    padding-top: 8px;
    
}

.containerSpace {
    padding-right 15px;
}









/*BANNER*/

.banner {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background: #3f5263;
    border-bottom: 1px solid transparent; 

    background: 
              url('../img/banner-awoods.png') no-repeat center;
  background-size: cover; */
       
}

.banner {

     /*
  background: linear-gradient(#424242, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('../img/banner.jpg') no-repeat center;
  background-size: cover; */
}




.banner {
-webkit-box-shadow:0px 1px 1px #424242;
 -moz-box-shadow:0px 1px 1px #424242;
 box-shadow:0px 1px 1px #424242;
  }




/*ABOUT ME*/

.aboutMe {
    
      
    text-align: center;
}




/*================FONT STYLE======================*/


/*OVERALL STYLES================================================*/


.jobsrow {
    margin-top: 50px;
}



.topheaderOne {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}

.topheaderTwo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;

}

.topheaderText {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}


.bodyFont {
    font-family: 'lato';
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #444;
    font-size: 16px;
    font-weight: 300;
}

.sectionHeader {
    font-size: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight:800;
    text-transform: uppercase;
}

.AccordionHeader {
    font-weight: 300 !important;
    font-size: 12px !important;
    color: #636363 !important;
}

.AccordionSubHeader {
      font-weight: 300 !important;
    font-size: 12px !important;
    color: #636363 !important;
}

.panel-heading {
    background: #fff !important;
    border-color: #fff !important;
}


.panel-heading:hover .AccordionHeader {
     color: #10a6df !important;
}

li {
    
    list-style: none;
}


.schoolLogo {
    width: 200px;
}

.stopgap {
    height: 10px;
}


.stopgap2 {
    height: 35px;
}

/*SKILLS SECTION===============================================*/

.skillsHeader {
     font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.skillfont {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    
}

/*NAVS================================================*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar {
    background: #fff !important;
}

.navbar li {
    font-family: 'lato';
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #444;
    font-size: 16px;
    font-weight: 600;
}

.navbar li:hover {
    background: #424242;
    color: #fff !important;
}

.navbar li:hover a {
    background: #424242;
    color: #fff !important;
}
/*================================================*/

/*Project STYLES================================================*/


.projectsHeader {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    
    
}

.projectsSectionHeader {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
     text-align: center;
}



.projectsSubHeader {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    font-size:16px;
    text-align: center;
}
    

.projectsOverview {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
}


.projectsText {
    
    
} 


.centerButton {
    text-align: center !important;
}


.projectsRow {

    
}

/*.caption {
  height: 250px !important;
}
*/

.projects-thumbnai {
  
}



/*================================================*/

/*Education STYLES================================================*/
.educationDate {
    font-size:15px;
    color: #444;  
    font-weight: 300;
    
}

.school {
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #444;
    font-size: 20px;
}


.program {
   font-family: 'Montserrat';
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #444;
    font-size: 22px; 
}


/*================================================*/

/*EXPERIENCE STYLES================================================*/

.companyName {
    
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.dateWorked {
    
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
    
}

.role {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}


.AccordionHeader {
     font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}





.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none !important;
}


/*================================================*/


/*==================EDUCATION STYLE=====================*/

.educationContainer {
    display: flex;
    flex-direction: column;
       text-align: center
}

.educationItem1 {
   padding-bottom
: 40px;}

.educationimage {
    max-width: 250px;
}

/*==================SKILLS STYLE=====================*/

.skillsIcons {
    margin-top: 45px
}

.skillHeader {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase; 
    font-size: 14px;
    text-align: center;
}

.skillIcon {
    height: 45px;
    text-align: center;
}

.skillscol {
    text-align: center;
}

.codeIcon {
    font-size: 40px !important;
    
}


/*================================================*/

