
/*BANNER*/

.banner {
     background: #363636;
    display: flex;
    align-items: center;
     justify-content: center;
    flex-direction: column;
    
   
}

.banner1 {

     
  background: url('../img/testbanner.jpg') no-repeat center;
  background-size: cover; 
}

.blogtiles {
    margin-top: 20px;
}

.blogimg {
 
    text-align: center;
}

.card {
    text-align: center;
}


.centered{
    float: none;
    margin: 0 auto;
}


.button {}



/*HOMEPAGE ARTICLE SECTION*/


.sectionHeader {
    font-family: 'Montserrat', sans-serif;
    color:  #444;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 20px;
    
    
    
}

/*NAV*/
.navlogo {
    width: 200px;
   
}

.navbar {
    background: #fff !important;
}

.navsocial {
    font-size: 30px !important;
}



/*BLOG*/

.para {
    
    margin: 0 auto;
    max-width: 700px;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 30px; 
}


.paraHeader {
    
    margin: 0 auto;
    max-width: 700px;
    padding-right: 5%;
    padding-left: 5%;
     
}

.blogtop {
    margin-top: 100px;
}




.blogBodyFont {
    font-family: 'Open Sans', sans-serif;
    color:  #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.6px;
    
    
}


.blogHeader {
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 30px;
    letter-spacing: 0.6px;
    text-align: center;
    max-width: 600px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}


.blogPageSubHeader {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 25px;
    letter-spacing: 0.6px;
    text-align: center;
    max-width: 600px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px
}

.blogsubHeader {
    font-family: 'Open Sans', sans-serif;
   color: lightgrey;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
}


.author{
    
     font-family: 'Open Sans', sans-serif;
    color: #222;
    font-size: 25px;
    letter-spacing: 0.6px;
    font-weight: 600;
}

.authorDesc {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 20px;
    letter-spacing: 0.6px;
    font-weight: 300;
    
}

.authorRow {
    margin: 0 auto;
    max-width: 600px;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 30px;
    
}

.philp {
    width: 200px;
       
}

.socialIconAuthor {
    color: #424242 !important;
    font-size: 16px !important;
}


.trump {
    text-align: center; 
}

.blogformText {
    font-size: 25px !important;
}

.blogHighlightedFont {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 25px;
    letter-spacing: 0.6px;
    font-weight: 600;
    text-transform: uppercase;
}

.blogHeader1 {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    font-size: 20px;
    letter-spacing: 0.6px;
    font-weight: 600;
}



/*BUTTON STYLE===========================================*/

.btton {
    font-family: 'Open Sans', sans-serif !important;
    color: #444;
    font-size: 20px !important;
    margin-top: 10px;
}

.btton {
    background-color: white;
    border: 2px solid #555555 !important;
}

.btton:hover {
    background-color: #555555;
    color: #e3bd50 !important;
}



/*FOOTER============================*/


.footer {
    margin-top: 50px;
    padding-bottom: 20px;
   height: 100%;
    background: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
       
}

.footeraddress, .featuredHeights {
    
    font-family: 'Open Sans', sans-serif;
   color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
}



/*SOCIAL*/
.fa-twitter {
    font-size: 45px !important;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fa-twitter:hover {
    color: #e3bd50;
}


/*============================*/


.jumbo {
    
    margin-top: 100px;
    margin-bottom: 40px;
}

.underline {
   
     
}


.marketingText {
    font-size: 35px;
    font-weight: 800;
}


.designText {
    font-size: 35px;
    font-weight: 500;
}


.codeText {
    font-size: 45px;
    font-weight: 300;
}

/*FONT-STYLES*/

.formText {
    font-family: 'Open Sans', sans-serif;
    color: #e3bd50;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
}

.cardtitle {
      font-family: 'Montserrat', sans-serif;
    color: #636363;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
    
}

.cardsubtitle {
     font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
}


.button {
    background: #3299bb !important;
}

.button:hover {
    background: orange !important;
}

#mc_embed_signup {
    margin-top: 30px;
     margin-bottom: 30px;
}


.bannerTitle {
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 0.6px;
    text-align: center;
}


.subHeader {
    font-family: 'Open Sans', sans-serif;
   color: #e3bd50;
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
}


.bodyFont {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
    margin: 0 auto;
    width: 600px;
}


.hidden
{
    display: none
}


@media (max-width: 600px) {
    
    
    
    .bodyFont {
      width: 80%;
        margin-bottom: 15px;
    }
    
    .subHeader {
        width: 80%;
        margin: 0 auto;
    }
    
    .logo {
        width: 400px;
         
        text-align: center;
    }
    
    #mc_embed_signup {
         width: 80% !important;
        margin: 0 auto;
    }
   
    
}

@media (max-width: 1000px){
    
    
    .card {
        margin-bottom: 50px;
        
    }
}
