
.banner {
    display: flex;
        justify-content: center;
    text-align: center;
align-items: center;
    height: 500px;
    
}

.banner {
     background: linear-gradient(#0E1717, transparent 40%),
              url('../img/placeholder.jpg') no-repeat center;
  background-size: cover;
}


.aboutUs {
    
    text-align: center;
}

.aboutUsCenter {
      margin: 0 auto;
    width: 800px;
    
}

.aboutusspacing {
    margin-bottom: 40px;
}

.rowSpacing {
    margin-top: 60px;
   
}


.prelist {
    text-align: center;
    
}

.prelistInner {
   
    padding: 5%;
}


.


.secondheader {
    text-align: center;
}



/*How it Works Seciotn*/

.Steps {
    text-align: center;
}


/*Text Styling*/

    /*Banner*/
.mainBannerHeader{
    margin-bottom: 40px;
}


    /*headers*/

.headerOne {
     font: 700 9px/14px Tahoma, sans-serif;
	font-size: 65px;
    color: white;
     text-transform: uppercase;
}



.headerTwo {
     font-family: 'Open Sans', sans-serif;
    font-weight: 600;
     text-transform: capitalize;
     color: white;
}


.HeaderThree {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.headerFour{
     font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    
    
}

.bodyFont{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #444;
} 

.aboutText {
      font-family: 'Open Sans', sans-serif;
     color: white;
    font-size: 20px;
    font-weight: 300;
}

.LabelText {
    font-family: 'Open Sans', sans-serif;
     color: white;
    font-size: 20px !important;
    font-weight: 800 !important;
    text-align: center !important;
    
}


#mc_embed_signup {
    text-align: center !important;
}

input.button {
    background: #285168 !important;
    display: inline !important;
    text-align: center !important;
    width: 250px !important;
}


.footer {
    height: 100px;
    background: #424242;
}

.footerText {
    text-align: center;
    vertical-align: center;
    color: white;
}

/*

.LabelText {
    font-size: 30px !important;
    color: white;
}

#mc_embed_signup .signUpButton {
    color: red !important;
}

.buttonTio {
    text-align: center !important;
}

.formcenter {
    display: flex;
    justify-content: center;
   
}


#mc_embed_signup div.mc-field-group {
    text-align: center !important;
}

.centertest {
    text-align: center !important;
}

input.button {
   background: blue !important;
}

*/

/*MEDIA QUERIES*/


@media (max-width: 450px) {
    .mainBannerHeader {
        font-size: 50px;
        
    }
}