/*
body {
	-webkit-perspective: 1000px;
    
} */

img {
	transition: -webkit-transform 1s ease-in-out;
}

.styleheading {
	transition: -webkit-transform 1s ease-in-out;
}




.ani:hover img {
	
  -webkit-transform: scale(1.28); 
}

.ani:hover .styleheading {
	
  -webkit-transform: scale(1.28); 
}


.socialicon {
	transition: -webkit-transform 1s ease-in-out;
}


.socialicon:hover {
	
  -webkit-transform: scale(1.5); 
}


.ani:hover .styleheading {
    color: purple;
}