


.content2 {
 text-align: center;
 font-family: 'Open Sans', sans-serif;
   
  
  
}


.features {
	text-align: center;
     }


.socialicons {
text-align: center;
	}




/*BANNER SECTION*/
.section1 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
       
}

.section1 {
  
  background: linear-gradient(#0E1717, transparent 90%),
              linear-gradient(0deg, #0E1717, transparent ),
              #ffa949 url('../img/mask1.jpg') no-repeat center;
  background-size: cover;
}


 


.mainheader {
    font-size: 70px;
    color: white;
    font-family: 'Alex Brush', cursive;
  line-height: 6px;

   
    
    
}
.subheader {
    color: white;
     font-family: 'Raleway', sans-serif;
    
    
}

.bannertext {
    display: flex;
    flex-direction: column;
    text-align: center
    
}

.maindescription {
    font-family: 'Lato', sans-serif;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    
    
}

.row1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 55px;
}

.eventbutton {
    margin-top: 15px;
}




.footer {
    
    height: 150px;
    background: #800080;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

/*SHOT IN THE DARK*/
.shotdark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 5px;
}

.head {
    margin-left: 10px;
    
}


/*STYLIZE HEADING*/
.styleheading {
     font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
}

/*SOCIAL ICONS*/

.socialicon {
    font-size: 35px;
    color: green;
    margin-right: 9px;
}

.socialiconitem {
	padding-right: 5px;
}


/*BUTTON*/


.cta1 {
    margin-top: 15px;
}


.adress {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px
}


.row4 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dead {
    color: rebeccapurple;
    font-weight: bold;
}


p {
     font-family: 'Lato', sans-serif;
}



.row2nd {
    margin-bottom: 30px;
}

.video {
    max-height: 450px;
    max-width: 450px;
    
}



.eventlogo {
    margin-bottom: 30px;
}

.features img {
    width: 50px;
}

@media (max-width: 400px) {
    
    .adress {
        font-size: 17px;
    }
}

.covenant {
    height: 25px;
}

.row5 {
    
    margin-bottom: 60px;
}

.covenantText {
    text-align: center;
}


.row4 {
   display: flex;
    justify-content: center;
}

.videotext {
    text-align: center;
    margin-bottom: 20px;
}

.row5 {
    margin-top: 40px;
}

.shotinDark {
    
    text-align: center;
}


.titlerow {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
}

.titlerow2 {
    text-align: center;
    margin-top: 50px;
   
}

.button {
  box-shadow: 5px 5px 5px #888;  
}

.button:hover {
    background: rebeccapurple;
    border-color: rebeccapurple;
    color: white;
}


@media (max-width: 990px) {
    
    .covenantText {
        margin-bottom: 50px;
    }
    
    .pyro {
         margin-bottom: 50px;
    }
}

.linkedheaders {
    color: rebeccapurple;
     font-family: 'Lato', sans-serif;
    font-size: 22px;
}

h3 {
    color: #424242;
     font-family: 'Lato', sans-serif;
    font-size: 22px;
}



/*Give buttons box shadow  box-shadow: 5px 5px 5px #888;*/



.linktext {
    color: red;
    font-size: 50px;
}

/*
.fadeInBlock {
    opacity:0;
}

*/

.sponsorsrow {
   
    text-align: center;
   
 
    margin-bottom: 60px;
}

.sponsorheader {
    text-align: center;
    margin-bottom: 60px;
}

.navbartitle {
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}


@media (max-width: 990px ){
    
    .sponitem {
        margin-bottom: 20px;
        
    }
    
    .spon2 {
        margin-bottom: 50px;
    }
}


@media (max-width: 775px ){
    
    .sponitem1 {
        margin-bottom: 40px;
        
    }
}


@media (max-width: 599px) {
    
    .adress {
        font-size: 20px;
        
    }
}


@media (max-width: 441px) {
    
    .adress {
        font-size: 15px;
       
    }
    
    p {
        font-size: 17px;
        padding-left: 6%;
        padding-right: 6%;
    }
    
    .eventlogo {
        
        width: 180px;
        height: auto;
        text-align: center;
    }
    
    .navitemstyle {
        font-size: 15px;
        font-weight: bold;
    }
    
    .adreess {
        text-align: center;
    }
    
    .cta1 {
        text-align: center;
    }
    
    .section1 {
        text-align: center;
        
    }
    
    
}


.headerborder {
     
    padding-bottom: 40px;
    padding-top: 40px;

    background-color: #800080;
    color: white;
    width: 100%;
    
    

    
}

.row8 {
    margin-top: 80px;
}

.hartadress {
    color: lightgray;
    text-decoration: underline;
}

.hartadress:hover {
    color: rebeccapurple;
}

.sponsorsponsor {
    margin-bottom: 50px;
}
